---
// index.astro
import Game from '../components/Game.jsx';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MateMan Game</title>
  </head>
  <body class="bg-gray-900 flex items-center justify-center h-screen">
    <Game client:visible />
  </body>
</html>
